.card-img {
  object-fit: cover;
  border-radius: 20%;
  width: 100px;
  transition: transform 0.2s;
  cursor: pointer;
  height: 100px;
}

.card-img:hover {
  object-fit: cover;
  border-radius: 20%;
  width: 100px;
  transform: scale(1.5);
  height: 100px;
}

.content {
  background-color: rgb(255, 255, 255);
}
